@import "../../../index.scss";

.footerWrapper {
  position: sticky;
  bottom: 0;
  padding-block: 30px;

  @include tablet {
    padding-block: 20px;
  }

  @include mobile {
    padding-block: 15px;
  }
}
