$primary: #363636;
$secondary: #736767;
$lightBlue: #edfcfc;
$blue: #c8e6e6;
$violet: #cf7afa;
$green: #94f7a0;
$red: #f77272;
$lightRed: #fcd2d2;
$yellow: #f3f772;
$lightGray: #ebebeb;
$white: #ffff;
$gray: #a7a7a7;
