@import "../../../index.scss";

.modalWindow {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: $secondary;
}

.title {
  color: $violet;
}

.input {
  width: 100%;
  padding: 12px;
  background: #f9f9fa;
  border-radius: 4px;
  outline: none;
  border: none;
  color: $secondary;
}

.area {
  resize: none;
  padding-top: 14px;
}

.tagsWrapper {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 7px;
}

.position {
  position: relative;
}

.text {
  position: absolute;
  top: 35px;
  left: 0;
  width: 400px;
  z-index: 3;
  width: 100%;
  padding: 12px;
  background: #f9f9fa;
  border-radius: 4px;
  outline: none;
  border: none;
  color: $secondary;
  pointer-events: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  background-color: none;
}
