@import "../../../index.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: $lightBlue;
  cursor: pointer;

  @include tablet {
  }

  @include mobile {
    padding: 10px;
  }

  &:hover {
    background: $blue;
    transition: all 0.5s;
  }
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  line-height: 22px;
}

.info {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 5px;
  color: $secondary;
}

.description {
  color: $secondary;
}

.tagsWrapper {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 7px;
}

.infoContainer {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.infoContainer div {
  color: $secondary;
  padding: 10px 30px;

  &:first-child {
    border-bottom: 1px solid $secondary;
  }
}
