@import "../../index.scss";

.wrapper {
  height: 100vh;
  max-width: 1110px;
  margin: 0 auto;
  padding-inline: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mobile {
    padding-inline: 20px;
  }
}
